@page "/genus"

@using DataLibrary
@using BlazorApp.Models
@using Microsoft.Extensions.Configuration
@inject NavigationManager NavigationManager
@inject IDataAccess _data
@inject IConfiguration _config

<div class="row">
    <div class="col-8">
        <h1>The Mountain Institute - Nature Guide</h1>
    </div>

    <div class="col-4">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>


@if (genus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var g in genus)
            {   
                //var genuspass = @g.GenusName;
                <div class="col-sm jumbotron mx-1" >
                    <div class="media">
                        <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                        <div class="media-body">
                            <h5 class="mt-0">@g.GenusName</h5>
                            @g.GenusIntro
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
    
    <div class="container">
         @foreach (var k in kingdom)
         {
             <p>@k.KingdomName @k.</p>
         }
    </div>
    

}

@code {

    private string gClick { get; set; } = null;
    List<GenusModel> genus;
    List<KingdomModel> kingdom;

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from genus";
        string sql2 = "select * from kingdom";

        genus = await _data.LoadData<GenusModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
        kingdom = await _data.LoadData<KingdomModel, dynamic>(sql2, new { }, _config.GetConnectionString("default"));
    }
    
    
}