@page "/genus"


@using BlazorApp.ViewModels


@inject IGenusViewModel _vm

<div class="row">
    <div class="col-8">
        <h1>The Mountain Institute - Nature Guide</h1>
    </div>

    <div class="col-4">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>


@if (_vm.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var g in _vm.Genus)
            {
                //todo: SwitchToKingdomViewAsync should change view to kingdon view and hiode genus view
                <div class="col-sm jumbotron mx-1" @onclick="(_ => _vm.SwitchToKingdomViewAsync(g))">
                    <div class="media">
                        <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                        <div class="media-body">
                            <h5 class="mt-0">@g.GenusName</h5>
                            @g.GenusIntro
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (_vm.ShowKingdom)
    {
        <div class="container">
        <h1>Kingdom Select</h1>
            <div class="row">
                @foreach (var k in _vm.Kingdom)
                {
                    <div class="col-sm jumbotron mx-1" >
                        <div class="media">
                            <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                            <div class="media-body">
                                <h5 class="mt-0">@k.KingdomName</h5>
                                @k.KingdomIntro
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

<div class="container">
    <h1>Species List</h1>
    @foreach (var s in _vm.Species)
    {
        <p>@s.SpeciesName </p>
    }
</div>

@code
{
    protected override async Task OnInitializedAsync() => await _vm.OnInitializedAsync();
}
